<a routerLink="/books">Go Back</a>
@if(book){

<h1 class="text-center mt-3">Details book : {{book.title}}</h1>

    <div>
        <p>{{book.description}}</p>
        @for(author of book.Author;track author){

            <p> {{author}}</p>
        }
        <p>Price : {{book.price}} €</p>
        <p>Release date : {{book.DateRelease | date : 'dd/MM/yyyy'}}</p>
        @for(genre of book.genre;track genre){

            <p>Genre : {{genre}}</p>
        }
    </div>

    <div>
        <img [src]="book.coverImageUrl" alt="book.title">
    </div>

    
}
@else{
    <div class="text-center p-3 rounded border w-75 m-auto mt-3">
        <p>une erreur est survenue lors de la récupération des détails du livre.</p>
    </div>
}
