<h1  class="text-center mt-5">Welcome to the Book Store</h1>


<div class="text-center p-3 w-75 m-auto mt-5 rounded border shadow">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas aliquid consectetur aperiam aut, illum minus nobis ducimus laboriosam cupiditate. Dolores molestias quasi reiciendis eligendi. Architecto nostrum repellendus id atque mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas aliquid consectetur aperiam aut, illum minus nobis ducimus laboriosam cupiditate. Dolores molestias quasi reiciendis eligendi. Architecto nostrum repellendus id atque mollitia?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas aliquid consectetur aperiam aut, illum minus nobis ducimus laboriosam cupiditate. Dolores molestias quasi reiciendis eligendi. Architecto nostrum repellendus id atque mollitia?</p>
</div>
